.grid-kvest__next {
  grid-area: next;
  text-align: end;
  font-size: 25px;
  color: rgb(206, 206, 206);
  width: 450px;
  }
@media screen and (max-width: 1279px) {
  .grid-kvest__next {
    font-size: 23px;
    width: 400px;
  }
}
@media screen and (max-width: 1023px) {
  .grid-kvest__next {
    font-size: 20px;
    width: 350px;
  }
}
@media screen and (max-width: 767px) {
  .grid-kvest__next {
    font-size: 15px;
    width: 225px;
  }
}
@media screen and (max-width: 479px) {
  .grid-kvest__next {
    font-size: 10px;
    width: 150px;
  }
}
